# Copiez ce fichier vers .env puis adaptez les valeurs.
APP_ENV=dev
APP_SECRET=change-me
APP_VERSION=0.1.0
APP_PORT=8092

SITE_NAME="Mon association"

DATABASE_USER=association
DATABASE_PORT=5432
DATABASE_HOST_PORT=5534
DATABASE_HOST=database
DATABASE_NAME=association
DATABASE_PASSWORD=change-me
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?serverVersion=18&charset=utf8"

MESSENGER_TRANSPORT_DSN=doctrine://default?queue_name=async

MAILER_DSN=smtp://mailer:1025
MAILER_SMTP_PORT=1127
MAILER_WEB_PORT=1182

###> LinkedIn API (module optionnel) ###
LINKEDIN_ACCESS_TOKEN=
LINKEDIN_ORGANIZATION_ID=
###< LinkedIn API ###
