APP_ENV=change-me
APP_SECRET=change-me
APP_VERSION=change-me
APP_PORT=change-me

DATABASE_USER=change-me
DATABASE_PORT=change-me
DATABASE_HOST=change-me
DATABASE_NAME=change-me
DATABASE_PASSWORD=change-me
DATABASE_URL=change-me

MESSENGER_TRANSPORT_DSN=change-me

MAILER_DSN=change-me

###> LinkedIn API ###
LINKEDIN_ACCESS_TOKEN=change-me
LINKEDIN_ORGANIZATION_ID=change-me
###< LinkedIn API ###

